@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');


/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
}
  /* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
::-moz-selection{
    color: red;
    background: none;
}
::selection{
    color: red;
    background: none;
}



* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
}



.container{
    flex: 1;
}

hr {
    width: 30vw;
    margin: auto;
    border: 1px solid black;
}
h2 {
    font-size: 3em;
    text-align: center;
    padding: 20px 0 6px 0;
}

/*
--------------------
    Front page
--------------------
*/
.front-page-disp{
    width: 100vw;
    height: 100vh;
    background-image: url("/media/DSC_0441-01.jpeg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.front-page-text {
    text-align: center;
    font-size: 3em;
    color: white;
}
.front-page-text hr {
    height: 1px;
    border: 1px solid white;
}

/*
--------------------
    About me
--------------------
*/
.about-me {
    margin: 10vh 0;
}
.about-me-disp {
    margin: 20vh 10vw;
    gap: 10%;
    display: grid;
    align-items: center;
    text-align: right;
    grid-template-columns: 35% 55%;
}
.about-me-disp img{
    width: 100%;
}
.bio {
    display: flex;
    flex-direction: column;
}
.bio p{
    font-size: 1.9em;
}
.media-list{
    margin-top: 4em;
}
.media-list a {
    border-radius: 1em;
    padding: 1em;
    color: black;
    font-size: 1.2em;
    text-decoration: none;
    transition: 0.5s ease-in-out;
}
.media-list a:hover {
    background-color: #000000cb;
    color: white;
}
/*
--------------------
    Skills
--------------------
*/
.skills {
    align-items: center;
}
.logos-container {
    margin: 2em 0;
    display: inline-grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
}
.logo {
    margin: auto;
    display: flex;
    max-width: 50%;
    max-height: 50%;
}

/*
---------
Projects
---------
*/
.projects {
    background-color: #000000cb;
}
.projects h2{
    color: white;
}
.projects hr{
    border: 1px solid white;
}
.projects-container {
    padding: 3em;
    display: grid;
    align-items: center;
    justify-content: center;
}
.slide {
    text-align: center;
    width: 200px;
    transition: 0.5s;
    border-radius: 1em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-style: normal;
    font-size: 1.3em;
}
.slide1 {
    height: 100px;
    background-color: white;
    z-index: 1;
    transition: .7s;
    border-radius: 1em;
    transform: translateY(25px);
}
.card:hover .slide.slide1{
    transform: translateY(0px);
    border-radius: 1em 1em 0 0;
}
.slide2 {
    height: 50px;
    background-color: black;
    padding: 20px;
    transition: .8s;
    transform: translateY(-25px);
    box-shadow: 0 20px 40px rgba(0,0,0,1);
}
.card:hover .slide.slide2{
    transform: translateY(0px);
    border-radius: 0 0 1em 1em;
}
/*
--------------------
    Footer
--------------------
*/
.ft hr {
    border: 1px solid white;
}
.ft h3 {
    margin: 1em;
    text-align: center;
    font-weight: 200;
    font-size: 1rem;
    color: rgba(255,255,255,0.4);
}
.social-list {
    display: flex;
    justify-content: center;
    list-style: none;
}
.social-list li {
    margin: 0.5rem;
    font-size: 2rem;
}
footer {
    background-color: black;
    color: white;
    line-height: 1.5;
}
footer a {
    text-decoration: none;
    color: white;
}



/*
---------
Media queries
---------
*/


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}